# Ignore arquivos de build e dependências
bin/
obj/

# Configurações de usuário do Visual Studio
*.user
*.suo
*.userosscache
*.sln.docstates

# Arquivos temporários
*.tmp
*.log
*.vspscc
*.vssscc

# Configurações locais
.vs/

# Arquivos de publicação
publish/

# Configurações do Rider
.idea/
*.DotSettings.user

# Arquivos de configuração sensíveis
appsettings.Development.json

